<ion-header>

  <ion-navbar>
    <ion-title>{{selectedProfile?.firstName}} {{selectedProfile?.lastName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <app-chat-message *ngFor="let chat of messageList" [chatMessage]="chat" [userId]="userId"></app-chat-message>
  <!-- <app-chat-message *ngFor="let chat of messageList;let index =index;" [chatMessage]="chat" [chatIndex]="index"></app-chat-message> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-send-message-box (sendMessage)="sendMessage($event)"></app-send-message-box>
  </ion-toolbar>
</ion-footer>